version: '2'
 
services: 
  prestashop:
    image: prestashop
    ports:
      - 8002:80
    volumes:
      - ./:/var/www/html/  
    links:
      - mysqldb
    depends_on:
      - mysqldb

  mysqldb:
    image: mysql:5.7.31
    
    ports:
      - 3308:3306
    environment:
      MYSQL_ROOT_PASSWORD: +QAY2wsx3edc
      MYSQL_DATABASE: prestashop
      MYSQL_USER: prestashopuser
      MYSQL_PASSWORD: +QAY2wsx3edc
    volumes:
      - dump.sql:/docker-entrypoint-initdb.d/dump.sql
      - db_data:/var/lib/mysql
volumes:
   dump.sql:
   db_data:
